
body{
  background-color: #DCDCDC;
}

.content {
  background-color: #DCDCDC;
}

h2{
  text-align: center;
  color: #c5b1f0;
  margin-top: 50px;
  margin-bottom: 50px;
}
.icon-bar {
  list-style: none;
  margin-top: 30px;
  margin-left: 100px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.logo{
  margin-top: 13px;
  padding-left: 30px;
}

.navbar{
  background-color: #A9A9A9 !important;
}


.container-img{
  float: left;
  margin-left: 250px;
}
.container-img-1{
  float: right;
  margin-right: 250px;
}

.container-text {
  margin-left: 700px;
}
.container-text-1{
  margin-left: 700px;
}

.dropdown-menu{
  text-align: left;
}

.top-header{
  background-color: #DCDCDC;
}


.container {
  padding: 5px;
}

.search {
  margin-top: 25px;
  margin-left: 40px;
  width: 100%;
}

ul > li  {
  margin-left: 25px;
  display: inline-flex;
}
li{
  list-style-type: none;
}
ol > li{
  margin-left: 325px;
  list-style: none;
}
.cat > a {
  text-decoration: none;
}

.middle-content{
  margin-top: 30px;
}

.bottom-content{
  margin-top: 30px;
}
.footer{
  padding-top: 25px;
  background-color: #708090;
}
.footer-bottom{
  text-align: center;
  text-decoration: underline;
}

.carousel-item{
  margin-top: 50px;

}
.one{
 max-width: 100%;
 height: 300px;
 max-height: 100%;
}

.action{
  position: relative;
  left: 260px;
  top: -45px;
  bottom: 50px;
}


.payment{
  margin-top: 50px;
  text-align: center;
}

.about > a{
  color: #000;
  text-decoration: none;
}
.about > a:hover{
  color:  #98edec;
}

.quote{
  font-family: 'Luxurious Roman', cursive;
  font-size: 25px;
  color: #deff05;
}

.followus{
  text-align: center;
}

.fab{
   font-size: 25px;
   padding: 10px;
}

i:hover{
  color: #98edec;
}


.promo{
  text-align: center;
}

.bottom {
  width: 15%;
  height: 15%;
}

.masondry-grid{
    width: 33%;
    display: inline-block;
    margin-top: 50px;
    text-align: center;
}

.masondry-grid:nth-child(1) article{
    padding-right: 15px;
}

.masondry-grid:nth-child(2) article{
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.masondry-grid:nth-child(3) article{
    padding-left: 15px;
}
.post-content{
    margin-top: 20px;
}
.post-content .post-title .post-category{
    font-size: 15px;
    text-transform: uppercase;

}
.post-title{
    margin-bottom: 20px;

}
.post-title h3>a{
    color: #000;
    text-decoration: none;
}




/* media */

@media screen and (min-device-width: 374px) and (max-device-width: 920px) {

  body{
    max-width: 100%;
    background-color: #DCDCDC;
  }

  .top-header {
    text-align: center;
  }

  .content {
    background-color: #DCDCDC;
  }

  .about{
    text-align: center;
  }

  .form{
    text-align: center;
  }

  .followus{
    margin-top: 50px;
  }

  .promo{
    margin-top: 25px;
  }

  .container-text-1{
    max-width: 100%;
    margin: 0;
  }

  .container-text{
    max-width: 100%;
    margin: 0;
  }

  .masondry-grid{
    width: 100%;
    display: block;
  }

  .masondry-grid .article{
        padding: 0 10px !important;
  }
}
